<nav class="nav nav-borders column-gap-4">
    <a class="nav-link ms-0 " href="/profile?token={{token}}">My profile</a>
    <a class="nav-link ms-0 active" href="#">Credential</a>
</nav>
<div class="link-effect-container">
    <a href="http://localhost:21461?token={{token}}" class="link-effect"><span> </span>
        <span> </span>
        <span> </span>
        <span> </span>
        <span class="title">Play game</span>
        <div class="liquid"></div>
    </a>
</div>
<div class="container">
    <h1 class="mt-5 mb-4">Quản lí Credential</h1>
</div>