<div class="wrapper-login">
    <div class="logo">
        <img class="avatar rotate-90"
            src="https://play-lh.googleusercontent.com/zPxLgj5nvl20ahJV7aFC6S5mD8kii5CEEDj25j1P9CYAfXL9sdDuO-8eES0r4DhJHrU"
            alt="">
    </div>
    <div class="text-center mt-4 name">
        Register
    </div>
    <form class="p-3 mt-3" action="/register" method="post" id="form-register">
        <div class="form-field">
            <span class="form-label">Full Name: </span>
            <input type="text" name="fullname" id="fullname" placeholder="Enter your full name" required>
            <i class="error fullname text-danger"></i>
        </div>
        <div class="form-field">
            <span class="form-label">Username: </span>
            <input type="text" name="username" id="usernames" placeholder="Enter your username" required>
            <i class="error username text-danger"></i>
        </div>
        <div class="form-field">
            <span class="form-label">Password: </span>
            <input type="password" name="password" placeholder="Enter your password" required>
        </div>
        <div class="form-field">
            <span class="form-label">Nickname: </span>
            <input type="text" name="nickname" id="nickname" placeholder="Enter your nickname" required>
            <i class="error nickname text-danger"></i>
        </div>
        <button type="submit" class="btn mt-5 fs-5">Register</button>
    </form>
    <div class="text-center fs-6  text-black">
        <span>Already have account? </span><a class="fs-6 fw-bold" href="/login">Login</a>
    </div>
</div>
{{> footer }}
{{> script }}
<script src="./src_auth/public/js/main.js">
</script>