<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark gradient-custom">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Tick Tac Toe</a>
        <ul class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Left links -->
            <ul class="navbar-nav me-auto d-flex flex-row mt-3 mt-lg-0">
                <li class="nav-item text-center mx-2 mx-lg-1">
                    <a class="nav-link active" data-id="1" href="/">
                        <div>
                            <i class="fa-solid fa-house"></i>
                        </div>
                        Home
                    </a>
                </li>
                <li class="nav-item text-center mx-2 mx-lg-1">
                    <a class="nav-link" data-id="2" href="/create">
                        <div>
                            <i class="fa-solid fa-gamepad"></i>
                        </div>
                        Tạo bàn
                    </a>
                </li>
                <li class="nav-item text-center mx-2 mx-lg-1">
                    <a class="nav-link" data-id="3" href="/rank">
                        <div>
                            <i class="fa-solid fa-ranking-star"></i>
                        </div>
                        Bảng xếp hạng
                    </a>
                </li>
            </ul>

            <ul class="navbar-nav me-auto d-flex flex-row mt-3 mt-lg-0">
                <li class="nav-item text-center mx-2 mx-lg-1">
                    <a class="nav-link" data-id="4" href="/profile">
                        <div>
                            <i class="fa-regular fa-address-card"></i>
                        </div>
                        Thay đổi Profile
                    </a>
                </li>
        </ul>
        <div class="profile text-end">
            <div class="profile-user">
                <span class="profile-title">Honghung123</span>
                <img src="https://bootdey.com/img/Content/avatar/avatar2.png" class="avatar">
            </div>
            <a href="/logout" class="btn btn-danger btn-custom mt-1"><i class="fa-solid fa-right-from-bracket"></i>
                Logout</a>
        </div>
    </div>
    </div>
</nav>
<!-- Navbar -->