{{> navbar }}
<div class="container">
    <div class="grid-chat chat-app mt-3">
        <div id="plist" class="people-list">
            <h3 class="fs-4 pb-3">Player online list</h3>
            <ul class="list-unstyled chat-list mt-2 mb-0" id="player-online-list">
                {{!-- <li class="clearfix">
                    <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="avatar">
                    <div class="about">
                        <div class="name">Vincent Porter</div>
                        <div class="status online">Online</div>
                    </div>
                </li> --}}

            </ul>
        </div>
        <div class="message-area">
            <div class="chat">
                <h3 class="m-3 fs-4 text-gradient fw-bold text-typing-animation">General Chatting</h3>
                <span class="d-none" id="username">{{username}}</span>
            </div>
            <div class="chat-history">
                <ul class="m-b-0" id="general-chatting">
                    {{!-- <li class="left">
                        <div class="message-data">
                            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="avatar">
                            <span class="username">Username 1</span>
                        </div>
                        <div class="message"> Hi Aiden, how are you? How is the
                            project coming along?
                            <span class="message-time">10:10</span>
                        </div>
                    </li> --}}
                    <li class="">
                        <div class="message-data">
                            <img src="./src_game/public/uploads/main.png" alt="avatar">
                            <span class="username">Admin</span>
                        </div>
                        <div class="message">Welcome to the general chat!
                            <span class="message-time">23:59</span>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="chat-input">
                <form class="d-flex column-gap-2" id="general-chat-form">
                    <input type="text" id="general-chat-input" class="form-control" placeholder="Enter text here..."
                        required>
                    <button class="btn btn-info text-white" id="general-submit-btn">Send</button>
                </form>
            </div>
        </div>
    </div>
    <div class="game-area mt-5">
        <h1>Danh sách bàn game</h1>
        <div class="my-grid" id="room-list">
            {{!-- <a href="/board/123" class="game-board">
                <p class="text-center p-2 mb-2">Waiting</p>
                <div class="board-info d-flex">
                    <div class="userInfo">
                        <img src="https://bootdey.com/img/Content/avatar/avatar7.png" class="avatar size-ss" alt=""
                            srcset="">
                        <p>Player</p>
                    </div>
                    <div class="userInfo">
                        <img src="https://bootdey.com/img/Content/avatar/avatar7.png" class="avatar size-ss" alt=""
                            srcset="">
                        <p>Player</p>
                    </div>
                </div>
            </a>
            <a href="/board/123" class="game-board">
                <p class="text-center p-2 mb-2">Waiting</p>
                <div class="board-info d-flex">
                    <div class="userInfo">
                        <img src="https://bootdey.com/img/Content/avatar/avatar7.png" class="avatar size-ss" alt=""
                            srcset="">
                        <p>Player</p>
                    </div>
                    <div class="userInfo">
                        <p class="pt-4">Waiting...</p>
                    </div>
                </div>
            </a> --}}
        </div>
    </div>
</div>
<script>
    const client = io();
    const username = $("#username").html()
    client.emit('player-has-online', username);
    client.emit('room-list-update');

    client.on('update-player-online-list', (data) => {
        let playerOnlineList = data.map((player) => {
            return `<li class="clearfix">
                    <img src="${player.avatar}" class="avatar">
                    <div class="about">
                        <div class="name">${player.nickname}</div>
                        <div class="status online">Online</div>
                    </div>
                </li>`
        });
        $('#player-online-list').html(playerOnlineList.join(''));
    });

    function renderMessage(message, areYou, nickname, image) {
        const now = new Date();
        const hours = now.getHours();
        const minutes = now.getMinutes();
        const hh_mm = (hours < 10 ? '0' : '') + hours + ':' + (minutes < 10 ? '0' : '') + minutes;
        const html = `<li class="${areYou ? 'left' : ''}">
                        <div class="message-data">
                            <img src="${image}" alt="avatar">
                            <span class="username">${nickname}</span>
                        </div>
                        <div class="message">${message}
                            <span class="message-time">${hh_mm}</span>
                        </div>
                    </li>` ;
        $('#general-chatting')[0].innerHTML += html;
    }

    const $generalForm = $("#general-chat-form");
    $generalForm.on("submit", e => {
        e.preventDefault();
        let message = $("#general-chat-input").val()
        if (message != "") {
            const data = { message, username }
            console.log(data);
            client.emit('general-chatting', data);
            $("#general-chat-input").val("");
        }
    });
    // Capture broadcast messages from the server
    client.on('general-chatting', (data) => {
        console.log(data);
        const areYou = $("#username").html().trim() == data.username;
        renderMessage(data.message, areYou, data.nickname, data.image);
    });

    client.on('room-list-update', (data) => {
        console.log(data);
        let rooms = data.map((room) => {
            let html = ''
            let sub = room.player2 ? `<img src="${room.player2.avatar}" class="avatar size-ss" alt="" srcset="">
                        <p>${room.player2.nickname}</p>` :  `<p class="pt-4">Waiting...</p>`
            html = `<a href="/board/${room.id}" class="game-board">
                <p class="text-center p-2 mb-2">${room.player2 ? "Playing" : "Waiting"}</p>
                <div class="board-info d-flex">
                    <div class="userInfo">
                        <img src="${room.player1.avatar}" class="avatar size-ss" alt="" srcset="">
                        <p>${room.player1.nickname}</p>
                    </div>
                    <div class="userInfo">
                        ${ sub }
                    </div>
                </div>
            </a>`
            return html;
        });
        $('#room-list')[0].innerHTML += rooms.join('');
    });
</script>